<dialog id="edit-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">{{{t 'editPhoto'}}}</h4>

  <div class="mdl-dialog_content mdl-grid">
    <input type="hidden" id="edit-id">

    <div id="edit-photo-side" class="mdl-cell--4-col">
      <label>
        <img id="edit-photo">
      </label>
    </div>

    <div id="edit-info-side" class="mdl-cell--8-col mdl-cell--4-col-tablet">
      {{{ mdlInputText id='edit-title'
                       name='title'
                       label=(t 'editDialog.title')
      }}}
      {{{ mdlInputText id='edit-slug'
                       name='slug'
                       label=(t 'editDialog.slug')
                       pattern='^[-_\w]+$'
                       errorText=(t 'editDialog.slugErrorMsg')
      }}}
      {{{ mdlInputText id='edit-tags'
                       name='tags'
                       label=(t 'editDialog.tags')
                       pattern='^\s*([-_\w]+\s*(,\s*[-_\w]+\s*)*)?$'
                       errorText=(t 'editDialog.tagsErrorMsg')
      }}}
      {{{ mdlInputText id='edit-keywords'
                       name='keywords'
                       label=(t 'editDialog.keywords')
                       pattern='^\s*(\S+\s*(,\s*\S+\s*)*)?$'
                       errorText=(t 'editDialog.keywordsErrorMsg')
      }}}

      {{{ mdlInputCheckbox style='switch'
                           id='edit-hidden'
                           label=(t 'editDialog.display')
      }}}
    </div>
  </div>

  <div class="mdl-dialog__actions">
    {{{ mdlButton style='action' id='edit-save' label=(t 'editDialog.save') }}}
    {{{ mdlButton style='action' id='edit-cancel' label=(t 'editDialog.cancel') }}}
    {{{ mdlButton style='accent' id='edit-remove' label=(t 'editDialog.remove') }}}
  </div>
</dialog>

<dialog id="remove-dialog" class="mdl-dialog">
  <h4 class="mdl-dialog__title">{{{t 'removeDialog.title'}}}</h4>

  <div class="mdl-dialog_content">
    <p>{{{t 'removeDialog.confirmation'}}}</p>
  </div>

  <div class="mdl-dialog__actions">
    {{{ mdlButton style="action" id='remove-cancel' label=(t 'removeDialog.cancel') }}}
    {{{ mdlButton style="accent" id='remove-accept' label=(t 'removeDialog.remove') }}}
  </div>
</dialog>
