<section id="upload-photo">
  <h4>{{{t 'uploadNewPhoto'}}}</h4>

  <form action="/admin/photos" method="post" enctype="multipart/form-data" class="mdl-grid">
    <div id="photo-side" class="mdl-cell--4-col">
      <label>
        <div id="photo-icon" class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored">
          <i class="material-icons">add</i>
        </div>
        <img id="new-thumbnail">
        <input type="file" id="photo" name="photo">
        <div id="new-thumbnail-loading" class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
      </label>
    </div>

    <div id="info-side" class="mdl-cell--8-col mdl-cell--4-col-tablet">
      {{{ mdlInputText id='new-title' name='title' label=(t 'newPhoto.title') }}}
      {{{ mdlInputText id='new-slug' name='slug' label=(t 'newPhoto.slug') }}}
      {{{ mdlInputText id='new-tags' name='tags' label=(t 'newPhoto.tags') }}}
      {{{ mdlInputText id='new-keywords' name='keywords' label=(t 'newPhoto.keywords') }}}

      {{{ mdlButton style='raised' label=(t 'newPhoto.upload') }}}
    </div>
  </form>
</section>
