{{> admin.header}}
<!--
config = {{{stringify config true}}}

admin = {{{stringify admin true}}}

sizes = {{{stringify sizes true}}}
-->
<form action="{{routeConfig}}" method="POST" enctype="application/x-www-form-urlencoded">
  <section id="config-site">
    <h4 data-toggle="config-site-content">Site options</h4>

    <div id="config-site-content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-site-title" name="site.title" value="{{lookup config 'site.title'}}">
        <label class="mdl-textfield__label" for="config-site-title">Site name or title</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-site-realm" name="site.realm" value="{{lookup config 'site.realm'}}">
        <label class="mdl-textfield__label" for="config-site-realm">Realm used for authentication</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-google-analytics" name="google.analytics" value="{{lookup config 'google.analytics'}}">
        <label class="mdl-textfield__label" for="config-google-analytics">Google Analytics account</label>
      </div>
    </div>
  </section>

  <section id="config-page-admin">
    <h4 data-toggle="page-admin-content">Admin page options</h4>

    <div id="page-admin-content">
      <input type="hidden" name="admin[id]" value="{{admin.id}}" />

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-admin-user" name="admin[username]" value="{{admin.username}}">
        <label class="mdl-textfield__label" for="config-admin-username">User for the admin page</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="password" id="config-admin-password" name="admin[password]">
        <label class="mdl-textfield__label" for="config-admin-password">Password for the admin page</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" min="0" id="page-admin-imagesPerPage" name="page.admin.imagesPerPage" value="{{lookup config 'page.admin.imagesPerPage'}}">
        <label class="mdl-textfield__label" for="page-admin-imagesPerPage">Images Per Page (0 means no limit)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="page-admin-orderBy" name="page.admin.orderBy" pattern="(created)|(updated)|(slug)|(title)" value="{{lookup config 'page.admin.orderBy'}}">
        <label class="mdl-textfield__label" for="page-admin-orderBy">Sort By (created, updated, slug, title)</label>
      </div>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="page-admin-reverse">
        <input type="checkbox" id="page-admin-reverse" class="mdl-checkbox__input" name="page.admin.reverse"{{#if (lookup config 'page.admin.reverse')}} checked{{/if}}>
        <span class="mdl-checkbox__label">Reverse sorting</span>
      </label>
    </div>

    <h4 data-toggle="index-page-content">Index page options</h4>

    <div id="index-page-content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" min="0" id="config-page-index-maxImages" name="page.index.maxImages" value="{{lookup config 'page.index.maxImages'}}">
        <label class="mdl-textfield__label" for="config-page-index-maxImages">Maximum numberof images to display (0 means no limit)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-controllers-index-orderBy" name="page.index.orderBy" pattern="(created)|(updated)|(slug)|(title)" value="{{lookup config 'page.index.orderBy'}}">
        <label class="mdl-textfield__label" for="config-page-index-orderBy">Sort By (created, updated, slug, title)</label>
      </div>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="config-page-index-reverse">
        <input type="checkbox" id="config-page-index-reverse" class="mdl-checkbox__input" name="page.index.reverse"{{#if (lookup config 'page.index.reverse')}} checked{{/if}}>
        <span class="mdl-checkbox__label">Reverse sorting</span>
      </label>
    </div>

    <h4 data-toggle="gallery-options-content">Gallery page options options</h4>

    <div id="gallery-options-content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" min="0" id="config-page-gallery-imagesPerPage" name="page.gallery.imagesPerPage" value="{{lookup config 'page.gallery.imagesPerPage'}}">
        <label class="mdl-textfield__label" for="config-page-gallery-imagesPerPage">Images Per Page (0 means no limit)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-page-gallery-orderBy" name="page.gallery.orderBy" pattern="(created)|(updated)|(slug)|(title)" value="{{lookup config 'page.gallery.orderBy'}}">
        <label class="mdl-textfield__label" for="config-page-gallery-orderBy">Sort By (created, updated, slug, title)</label>
      </div>

      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="config-page-gallery-reverse">
        <input type="checkbox" id="config-page-gallery-reverse" class="mdl-checkbox__input" name="page.gallery.reverse"{{#if (lookup config 'page.gallery.reverse')}} checked{{/if}}>
        <span class="mdl-checkbox__label">Reverse sorting</span>
      </label>
    </div>

  </section>

  <section id="images-options">
    <h4 data-toggle="images-options-content">Image options</h4>

    <div id="images-options-content">
      <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="config-images-hiddenByDefault">
        <input type="checkbox" id="config-images-hiddenByDefault" class="mdl-checkbox__input" name="images.hiddenByDefault"{{#if (lookup config 'images.hiddenByDefault')}} checked{{/if}}>
        <span class="mdl-checkbox__label">Hidden by default</span>
      </label>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-originalPath" name="images.originalPath" pattern="[a-zA-z0-9_.-]+(\/[a-zA-z0-9_.-]+)*" value="{{lookup config 'images.originalPath'}}">
        <label class="mdl-textfield__label" for="config-images-originalPath">Path for the original images (relative to backend)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-temporalPath" name="images.temporalPath" pattern="[a-zA-z0-9_.-]+(\/[a-zA-z0-9_.-]+)*" value="{{lookup config 'images.temporalPath'}}">
        <label class="mdl-textfield__label" for="config-images-temporalPath">Path for the uploaded images (temp/relative to backend)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-path" name="images.path" pattern="[a-zA-z0-9_.-]+(\/[a-zA-z0-9_.-]+)*" value="{{lookup config 'images.path'}}">
        <label class="mdl-textfield__label" for="config-images-path">Path for the generated thumbnails (relative to backend)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-baseUrl" name="images.baseUrl" pattern="(\/[a-zA-z0-9_.-]+)*" value="{{lookup config 'images.baseUrl'}}">
        <label class="mdl-textfield__label" for="config-images-baseUrl">URL for the images (relative to /)</label>
      </div>
    </div>

    <h4 data-toggle="resizing-options-content">Image resizing options</h4>

    <div id="resizing-options-content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-resize-policy" name="images.resize.policy" pattern="(cover)|(contain)|(fill)|(inside)|(outside)" value="{{lookup config 'images.resize.policy'}}">
        <label class="mdl-textfield__label" for="config-images-resize-policy">Resize policy (cover, contain, fill, inside, outside)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-resize-outputFile" name="images.resize.outputFile" value="{{lookup config 'images.resize.outputFile'}}">
        <label class="mdl-textfield__label" for="config-images-resize-outputFile">OutputFile</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="config-images-resize-format" name="images.resize.format" pattern="(jpeg)|(png)|(webp)|(tiff)|(raw)" value="{{lookup config 'images.resize.format'}}">
        <label class="mdl-textfield__label" for="config-images-resize-format">Format (jpeg, png, webp, tiff, raw)</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="number" min="0" id="config-images-resize-formatOptions-quality" name="images.resize.formatOptions.quality" pattern="[0-9]+" value="{{lookup config 'images.resize.formatOptions.quality'}}">
        <label class="mdl-textfield__label" for="config-images-resize-formatOptions-quality">Quality</label>
      </div>
    </div>

    <h4 data-toggle="thumbnails-options-content">Thumbnail sizes</h4>

    <div id="thumbnails-options-content">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Size Id</th>
            <th>Width</th>
            <th>Height</th>
          </tr>
        </thead>
        <tbody>
          {{#each sizes}}
            <input type="hidden" name="sizes[{{@key}}][id]" value="{{this.id}}"/>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="text" id="config-sizes-label-{{@key}}" name="sizes[{{@key}}][label]" pattern="[a-zA-Z][a-zA-Z0-9_.-]?" value="{{this.label}}">
                </div>
              </td>
              <td>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="number" min="0" id="config-sizes-w-{{@key}}" name="sizes[{{@key}}][width]" value="{{this.width}}">
                </div>
              </td>
              <td>
                <div class="mdl-textfield mdl-js-textfield">
                  <input class="mdl-textfield__input" type="number" min="0" id="config-sizes-h-{{@key}}" name="sizes[{{@key}}][height]" value="{{this.height}}">
                </div>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </section>

  <button id="update-button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
    Update settings
  </button>

</form>

<script src="/public/js/admin.config-{{version}}.min.js" type="text/javascript"></script>
<script type="text/javascript">
  run();
</script>

{{> admin.footer}}
